<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinamobile.hejiaqin.tv"
    android:sharedUserId="android.uid.system">
    <!--非系统签名版本去除android:sharedUserId ,系统签名版本需要机顶盒厂家重新签名-->
    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
    <!--package="com.chinamobile.hejiaqin.tv">-->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 访问联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- VOIP需要使用的权限 -->
    <permission android:name="com.huawei.android.permission.WRITE_DATABASE" />

    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INSTALL_DRM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name="com.chinamobile.hejiaqin.business.ui.TVApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android 6.0权限申请页面 -->
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.basic.PermissionsActivity"
            android:screenOrientation="landscape"></activity>
        <!-- 登录、注册相关 -->
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.login.LoginActivity"
            android:screenOrientation="landscape"></activity>
        <!--<activity-->
            <!--android:name="com.chinamobile.hejiaqin.business.ui.login.RegisterActivity"-->
            <!--android:screenOrientation="landscape" />-->

        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.setting.dialog.AutoAnswerNumberSettingDialog"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.setting.dialog.BindRequestDialog"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 登录后的主页 -->
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.main.MainFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.hejiaqin.tv.mainfragment" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.contact.ContactInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.contact.ModifyContactActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.contact.InputInfoActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.basic.dialog.VideoInComingDialog"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.hejiaqin.dial.tv.videocall" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.dial.StbVideoCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.dial.VtVideoCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.dial.StbNurseCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.dial.VtNurseCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.chinamobile.hejiaqin.business.ui.login.CreateAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <service
            android:name="com.chinamobile.hejiaqin.business.HeService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.chinamobile.hejiaqin.business.heservice" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name="com.chinamobile.hejiaqin.business.ui.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

    </application>

</manifest>